body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-header {
    background-color: #f4f4f4;
    padding: 10px 0;
}

.headquote {
    font-style: italic;
}

.navbar {
    background-color: #ADD8E6;
    color: #1e0707;
    padding: 10px 0;
}

.navbar .logo img {
    text-align: center; 
    margin: 0 auto; 
    display: block; 
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: #050202;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.navbar-menu a:hover {
    background-color: #575757ce;
    border-radius: 5px;
}


.slider-width {
    width: 100%;
    height: auto;
}
.impulse{
    width: 80%;
    height:auto
}
.content {
    text-align: center; 
    margin: 0 auto; 
    padding: 20px; 
    max-width: 800px; 
}
.info {
    text-align: center; 
    margin: auto; 
    display: block; 
}